/* ------------------------------------------------------------------------- *
 *  Partial: Variables
/* ------------------------------------------------------------------------- */

// Font
$font-stack: Helvetica, sans-serif;
$primary-grey: #333;
$secondary-grey: #888;

// Font style
$weight-bold: 900;

// Margins
$standard-padding: 15px;

// Borders
$border-radius: 5px;